<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Relativity Test" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Relativity Test" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      @media (max-width: 600px) {
        main {
          padding: 15px;
        }
        .panel .panel-body{
          margin: 0 !important;
        }
      }
    </style>
  </head>
  <body>
    <header class="hidden">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
